In [1]:
#importing the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#loading the dataset
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
df.count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

In [8]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [11]:
df.nunique().values

array([  47,    2,  548,    6,    2,    4, 1337], dtype=int64)

In [13]:
#Data preprocessing
df['sex'] = df['sex'].map({'male':0, 'female':1})

In [15]:
df['smoker'] = df['smoker'].map({'no' : 0, 'yes':1})

In [16]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    1  27.900         0       1  southwest  16884.92400
1   18    0  33.770         1       0  southeast   1725.55230
2   28    0  33.000         3       0  southeast   4449.46200
3   33    0  22.705         0       0  northwest  21984.47061
4   32    0  28.880         0       0  northwest   3866.85520

In [18]:
df.dtypes

age           int64
sex           int64
bmi         float64
children      int64
smoker        int64
region       object
charges     float64
dtype: object

In [19]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [20]:
#using label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['region'] = le.fit_transform(df['region'])

In [21]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       3  16884.92400
1   18    0  33.770         1       0       2   1725.55230
2   28    0  33.000         3       0       2   4449.46200
3   33    0  22.705         0       0       1  21984.47061
4   32    0  28.880         0       0       1   3866.85520

In [22]:
df['region'].value_counts()

region
2    364
3    325
1    325
0    324
Name: count, dtype: int64

In [23]:
df.corr()

               age       sex       bmi  children    smoker    region   charges
age       1.000000  0.020856  0.109272  0.042469 -0.025019  0.002127  0.299008
sex       0.020856  1.000000 -0.046371 -0.017163 -0.076185 -0.004588 -0.057292
bmi       0.109272 -0.046371  1.000000  0.012759  0.003750  0.157566  0.198341
children  0.042469 -0.017163  0.012759  1.000000  0.007673  0.016569  0.067998
smoker   -0.025019 -0.076185  0.003750  0.007673  1.000000 -0.002181  0.787251
region    0.002127 -0.004588  0.157566  0.016569 -0.002181  1.000000 -0.006208
charges   0.299008 -0.057292  0.198341  0.067998  0.787251 -0.006208  1.000000

In [24]:
#determining X and y
X= df[['age', 'sex', 'bmi', 'smoker']]
y = df['charges']

In [26]:
#splitting the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [27]:
X_train

      age  sex     bmi  smoker
216    53    1  26.600       0
731    53    0  21.400       0
866    18    0  37.290       0
202    60    1  24.035       0
820    45    0  33.700       0
...   ...  ...     ...     ...
715    60    0  28.900       0
905    26    1  29.355       0
1096   51    1  34.960       1
235    40    1  22.220       1
1061   57    0  27.940       0

[1070 rows x 4 columns]

In [28]:
X_test

      age  sex     bmi  smoker
559    19    0  35.530       0
1087   57    0  31.540       0
1020   51    0  37.000       0
460    49    1  36.630       0
802    21    0  22.300       0
...   ...  ...     ...     ...
682    39    0  35.300       1
629    44    1  38.950       1
893    47    0  38.940       1
807    19    1  36.575       0
1165   35    1  26.125       0

[268 rows x 4 columns]

In [30]:
#building the model - using linear regression
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [35]:
#make predictions
y_predicted = model.predict(X_test)

In [37]:
#evaluations
from sklearn.metrics import r2_score
r2_score(y_test, y_predicted)

0.7565120021066973

In [38]:
y_predicted

array([ 4543.00133231, 13169.66650114, 13275.94567294, 12855.44839   ,
        1038.78328448, 31046.3467424 , 12913.11465154, 12225.27389237,
        3726.38626254, 30380.77937791, 12025.21546224, 17211.55673678,
        8751.97693332,  8723.25467461,  3949.64781148, 10431.83858983,
        4269.17546832,  6515.46509509, 15411.39592854, 15178.88850059,
       12394.83472948, 32413.9752163 ,  9375.95352743,  9855.26854017,
        2847.69589328,  8073.56243097,  8273.74634136, 11593.26562764,
        7578.45641132,  4329.91538651, 14415.68965839,  5833.85145583,
       33371.5914037 , 27188.16711139, 33061.8999682 ,  9938.9349355 ,
       31064.0599377 , 25815.08223773, 15921.61065624, 33697.22500753,
        6314.16324018, 14295.04328228, 10439.07032392, 15377.85820259,
        4233.25499926, 13051.16405754,  4735.05730822, 29445.65402196,
        7724.75923208, 12541.97531784, 14214.54250013, 12302.26967953,
        2227.5379948 ,  8496.8275125 , 25542.92760161, 10760.94797224,
       33807.13465457, 15238.63595452,  2351.75210602,  6558.08185347,
        7342.255768  , 14811.92861814, 27391.0225565 ,  3535.88387683,
       15592.71517537, 11070.26650221, 10231.71741957, 11081.19145167,
        1431.52155659, 25226.97552246, 36512.94490639, 32382.58142287,
        2737.25864404, 10494.38305874, 14002.26079821, 34326.90111935,
        3094.96834014,  4824.92944964, 11223.55009653,  9949.60892444,
        -418.8641849 , 13468.16065284, 10293.20668408,  3943.69302591,
       32885.81537701, 32882.46154344,  7598.40549567, 37510.54414853,
       11856.76472707,  9698.60973847, 30356.92317664, 32711.29221859,
       14423.78406915, 11258.85100687,   615.14960476, 11507.64352018,
       10080.86224202, 14935.55238704, 15140.29649681,  5227.96880514,
       13920.57933141, 26373.53697015, 27750.31505919, 28063.72539122,
       36335.44435519, 27336.30016401,  1460.40281929,  9655.02188965,
        5028.99126055, 12341.79140744,  6262.60646086,  4859.92450191,
        1394.94369773, 17698.06995988,  3180.61966398,  2466.59055064,
       10256.71724651, 12969.23947281,  9956.79929221,  3914.31768475,
        9761.12068364, 12081.1106968 ,  8201.28153718,  7512.25578602,
       36729.38468576, 11678.29308542, 10984.37206042, 29051.08982533,
       35922.53956195, 11493.77470167, 28829.31128387,    95.28687611,
        7333.32358964, 31977.68261911,  9123.52623153,   213.9483237 ,
        1510.46874854,  5329.96441924,  8070.34192025, 12322.83478736,
       14731.98896193,  8318.16765045, 29059.68262188, 16538.88311846,
       13725.11462438, 11467.65693021,  2411.34055596,  9558.76362433,
        4183.73804602,  5716.96534256, 11785.62746161,  4940.39176032,
       13904.35698617, 13121.58550041, 13456.77084132,  7874.96132716,
       11847.08320239, 10460.78259267,  9778.30627675,  5235.22191304,
        6562.95575349, 40372.64460386, 13571.49164826,  4674.38013016,
        7397.04090062,  5462.17667736, 32587.29200891, 11681.4586986 ,
       11801.17535058,  6786.56452682,  6377.07630728,  6852.26676632,
       33129.86731314, 35242.9186938 ,  2549.95108789,  7160.03601343,
        5478.43254633, 14157.34110066,  1538.11442904, 11270.23297581,
       13368.85794727, 11527.1612662 , 10817.03926978, 12470.21849366,
        2349.7671775 , 28417.56149414,  3255.66404636, 14979.44609393,
        6768.94328804,  8449.0188461 , 14436.47220301, 38736.80213449,
        3050.54703105,  1402.64029389,  4791.77247182,  8499.99312567,
        7181.78180591,  4637.34171658,  9449.93839808,  9470.19764783,
        9838.35958874, 10926.82343656, 10006.44172571,  9287.04032655,
        7556.67709511,  1818.61090119,  9547.49929306,  7865.93719228,
        6303.76589291, 12516.13418805,  5290.69365185, 33453.67499244,
        5260.07057857,  6161.10138998,  7808.88264688, 38861.79480844,
       11871.99460805, 27901.23728421,  3715.55757695, 33138.73675137,
        3509.98000691, 32641.86323998, 13237.11055122,  1560.29155985,
        2203.6190534 ,  2150.01460544,  6357.31544333,  5141.07405651,
       26297.50443085, 16547.47591501,  4693.11931346, 12769.52042448,
       38812.2778552 ,  3611.61055806, 11794.03988036, 12153.20690278,
       27321.65631803,  3041.17567178, 12718.48340478,  6237.13392928,
       15438.40990039,  6474.63720227, 16291.57714787,  4767.56904617,
       13095.64810676, 33422.64979721, 10690.65200963, 10929.98904974,
        5303.25630545, 16917.28340264, 14134.41462353,  5022.07322711,
       12183.20611001, 12160.21689275,  4507.17281978,  6829.34028919,
       27420.20967728, 31680.49893965,   -49.1194374 , 39630.88569607,
        9487.38324094,  7697.11355157, 11108.82928959, 33394.51003825,
       36008.718488  , 36572.62962019,  5070.56065711,  6036.64416081])

In [39]:
model.score(X_train, y_train)

0.7450135987062217

In [40]:
#co-efficients
model.coef_

array([  258.93890006,   209.86543507,   304.01329161, 23742.65376178])